<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django -html pages ouput by using rendering</title>
</head>
<body>
    <center>
    <h1><marquee>hi vishnu how are you</marquee></h1>
    <h2>hi vishnu how are you</h2>
    <h3><marquee>hi vishnu how are you</marquee></h3>
    <h4>hi vishnu how are you</h4>
    <h5><marquee>hi vishnu how are you</marquee></h5>
    <h6>hi vishnu how are you</h6>
    </center>
</body>
</html>